@media screen and (max-width: 800px){
    form{
        grid-template-rows: auto auto auto;
    }
    .second-half{
        padding-top: 80px;
        height: 20vh;
        grid-column: 1/2 !important;
        grid-row: 1/2 !important;
    }
    form> p{
        grid-row: 2/3 !important;
        padding: 40px !important;
    }
}